<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="~{./seller/template/base :: layout(~{::title}, ~{::section}, ~{::style}, ~{::script})}">

<head>
	<title>모바일 키오스크</title>
</head>
<style>
	/* 리스트 css */
	.column{
		border: 1px solid #cecece;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.container-fluid .card{
		margin-left:auto;
		margin-right:auto;
	}

	/* 마우스 포인터을 손가락으로 변경 */
	.card:not(.no-move) .card-header{
		cursor: pointer;
	}
	.field-error {
		border-color: #dc3545;
		color: #dc3545;
	}
</style>


<body style="margin-top: 50px; margin-left: 10px; margin-right: 10px; margin-bottom: 50px;">


<section>

	<div class="container" style="padding-top: 50px;">
		<div th:if="${param.overlap}" class="alert alert-error field-error text-center timeout">
		카테고리명이 중복되었습니다. 다른 이름을 사용해주세요.
		</div>
		<div th:if="${param.category}" class="alert alert-error field-error text-center timeout">
			카테고리명에 문제가 있습니다.
		</div>
		<div th:if="${param.menu}" class="alert alert-error field-error text-center timeout">
			메뉴 등록에 문제가 있습니다.
		</div>
		<ul class="tab-content nav nav-pills m-2" id="pills-tab" role="tablist">
			<li class="nav-item m-1" role="presentation">
				<button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#plusCategoryModal"
						type="button" role="tab" aria-controls="pills-category" aria-selected="true">카테고리 추가</button>
			</li>
			<li th:each="category : ${categories}" role="presentation">
				<button class="btn btn-outline-secondary m-1" th:field="|${category.name}|" data-bs-toggle="pill" th:data-bs-target="|#God${category.id}|"
						type="button" role="tab" th:aria-controls="|God${category.id}|">[[${category.name}]]</button>
			</li>
		</ul>

		<hr>
		<!-- 카테고리 탭 컨텐츠(카테고리별 음식 메뉴)-->
		<div class="tab-content" id="pills-tabContent">
			<th:block th:each="category : ${categories}">
				<div class="tab-pane fade" th:id="|God${category.id}|" role="tabpanel" th:aria-labelledby="|God${category.id}|">
					<div class="col-sm-12 column overflow-auto rounded" style="height: 650px;">
						<div>
							<div class="text-center" type="button" th:data-test="|${category.name}|" data-bs-toggle="modal" data-bs-target="#Plusmenu"
							style="width: 100%;">
								메뉴 추가
							</div>
						</div>
						<div class="card text-black bg-Light m-3" th:each="menu : ${category.items}">
							<div class="row g-0">
								<div class="col-md-1">
									<div class="card-header" style="height: 100%;"><h5>.</h5><h5>.</h5><h5>.</h5></div>
								</div>
								<div class="col">
									<div class="card-body text-center"  type="button" data-bs-toggle="modal" data-bs-target="#exampleModal2">
										<h5 class="card-title">[[${menu.name}]]</h5>
										<p class="card-text">[[${menu.description}]]</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</th:block>
		</div>
	</div>

	<!-- 카테고리 추가 -->
	<div class="modal fade" id="plusCategoryModal" tabindex="-1" aria-labelledby="plusCategoryModal" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">카테고리 추가</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form id="category" method="post" th:action>
						<div class="mb-3">
							<label for="categoryName" class="col-form-label">카테고리명</label>
							<input type="text" class="form-control" id="categoryName" name="categoryName" placeholder="카테고리명을 입력해주세요.">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
					<button type="submit" form="category" class="btn btn-primary">확인</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 메뉴추가 모달 -->
	<div class="modal fade" id="Plusmenu" tabindex="-1" aria-labelledby="Plusmenu" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">메뉴 추가</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form id="menuAdd" method="post" th:action="@{menus/add}">
						<div class="mb-3">
							<label for="menuName" class="col-form-label">제품명</label>
							<input type="text" class="form-control" id="menuName" name="menuName">
						</div>
						<div class="mb-3">
							<label for="description" class="col-form-label">설명</label>
							<textarea class="form-control" id="description" name="description"></textarea>
						</div>
						<input type="text" hidden="true" id="menuCategoryName" name="categoryName">
					</form>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
					<button type="submit" form="menuAdd" class="btn btn-primary">확인</button>
				</div>
			</div>
		</div>
	</div>
</section>




<script>
	$(function() {
		$(".column").sortable({
			// 드래그 앤 드롭 단위 css 선택자
			connectWith: ".column",
			// 움직이는 css 선택자
			handle: ".card-header",
			// 움직이지 못하는 css 선택자
			cancel: ".no-move",
			// 이동하려는 location에 추가 되는 클래스
			placeholder: "card-placeholder"
		});
		// 해당 클래스 하위의 텍스트 드래그를 막는다.
		$( ".column .card" ).disableSelection();
	});

	// 메뉴추가 모달에 카테고리 삽입 (띄어쓰기한 카테고리 적용 안됨)
	$('#Plusmenu').on('show.bs.modal', function (e) {
		var data = $(e.relatedTarget).data('test');
		$(".modal #menuCategoryName").val(data)
	});

	setTimeout(function() {
		$(".timeout").hide();
	}, 3000);

</script>

</body>

</html>